# Capítulo 6 - Função 
´A função enumerate() em Python é ua funçao que permite iterar sobre uma estrutura de dados (como uma lista, tupla ou outro objeto iterável(). a função enumerate() retorna um objeto enumerado, que pode ser usado em loops para percorrer a estrutura de dados e acessar o contador e o valor de cada elemento.´

In [1]:
# Versão da Linguagem Pyhton
from platform import python_version
print(f'Versão da linguagem Python usada neste Jupyter Notebook', python_version())

Versão da linguagem Python usada neste Jupyter Notebook 3.11.7

In [2]:
# Criando uma lista
seq = ['a','b','c']

In [3]:
enumerate(seq)

In [4]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [5]:
# Imprimindo os valores de uma lista com a função enumerate() e seus respectivos valores

In [8]:
for indice, valor in enumerate(seq):
    print(indice, valor)

0 a
1 b
2 c

In [9]:
for indice, valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print(valor)

a
b

In [10]:
lista = ['Marketing','Tecnologia','Business']

In [11]:
for i, item in enumerate(lista):
    print(i , item)

0 Marketing
1 Tecnologia
2 Business

In [12]:
for i, item in enumerate('Data Science Academy'):
    print(i, item)

0 D
1 a
2 t
3 a
4
5 S
6 c
7 i
8 e
9 n
10 c
11 e
12
13 A
14 c
15 a
16 d
17 e
18 m
19 y