# Objetos
`Em Python, tudo é Objeto!`

In [2]:
# Versão do python usada neste Notebbok
from platform import python_version
print(f'Versão da linguagem Python usada neste Jupyter Notebbok:', python_version())

Versão da linguagem Python usada neste Jupyter Notebbok: 3.11.7

In [3]:
# Criando uma lista
lst_num = ['Data','Scince','Academy',10,10]

In [4]:
# a lista lst_num é um objeto, uma instãncia da classe list em Python
type(lst_num)

list

In [5]:
print(type([]))

<class 'list'>

In [6]:
lst_num.count(10)

2

In [7]:
# Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type(()))
print(type({}))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'str'>

In [8]:
# Criando um novo tipo de objeto chamado carro
class Carro(object):
    pass

In [9]:
# Instância do Carro
ferrari = Carro()

In [10]:
print(type(ferrari))

<class '__main__.Carro'>

In [17]:
# Criando uma class
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [18]:
# Criado um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bob", 12, 9.5)

In [19]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nome

'Bob'

In [20]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.idade

12

In [21]:
# Atributo da classe Estudante, utilizado por cada objeto criado a partir desta classe
Estudante1.nota

9.5

In [29]:
# Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    def listFunc(self):
        print("Funcionário(a) "+ self.nome +" tem salário de R$ "+ str(self.salario) +" e o cargo é "+ self.cargo)

In [32]:
# Criando um objeto chmado Func1 a partir da classe Funcionários
Func1 = Funcionarios("Mary", 20000, "Cientista de Dados.")

In [33]:
# Usando o método da classe
Func1.listFunc()

Funcionário(a) Mary tem salário de R$ 20000 e o cargo é Cientista de Dados.

In [34]:
print("**** Usando atributos ****")

**** Usando atributos ****

In [35]:
hasattr(Func1, "nome")

True

In [36]:
hasattr(Func1, "salario")

True

In [37]:
setattr(Func1, "salario", 4500)

In [38]:
hasattr(Func1, "salario")

True

In [39]:
getattr(Func1, "salario")

4500

In [40]:
delattr(Func1, "salario")

In [41]:
hasattr(Func1, "salario")

False