In [1]:
# atribuindo o valor 1 a variavel var_teste
var_teste = 1
print(var_teste)

1

In [5]:
# mudando o valor da variavel var_teste
var_teste = 10
print(var_teste)
type(var_teste)

10

int

In [7]:
# tipagem dinâmica mudando o tipo da variável var_teste para float
var_teste = 50.0
print(var_teste)
type(var_teste)

50.0

float

In [10]:
# declaração multipla de variáveis em uma linha
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"
print(pessoa1)
print(pessoa2)
print(pessoa3)

Bob
Maria
Ana

In [15]:
# case-sensitive difere maiúsculas de minúsculas Var1 != var1
# não podemos começar nome de variável com números ex: 1x = 10
# não podemos usar palavras reservadas da linguagem como variável
Var1 = 10
print(f'Valor de Var1 =',Var1)
var1 = 15
print(f'Valor de var1 =',var1)

Valor de Var1 = 10
Valor de var1 = 15

In [18]:
# variáveis atribuidas a outras variáveis
base = 10
altura = 5
area = base * altura
print(f'A área total é de:',area)

A área total é de: 50

In [24]:
# Ordem dos operadores matemáticos: parênteses, expoentes, multiplicação e divisão (mesmo nível) e adição e subtração (mesmo nível)
x = 2 * (5 + 10)
print(f'Valor de x =',x)
j = 2 * (5 - 5)
print(f'Valor de j =', j)

Valor de x = 30
Valor de j = 0

In [27]:
# concatenação de variáveis
nome = 'João'
sobrenome = 'Ribeiro'
nomeCompleto = nome + " " + sobrenome
nomeCompleto

'João Ribeiro'